.calculator {
    min-height: 60vh;
    background: #eef1f4;
    padding: 25px 0;
}

.calculator-box {
    width: 650px;
    margin: 0 auto;
}

.calculator h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
}

.calculator-text {
    text-align: center;
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 10px;
}

.range-block {
    background: white;
    padding: 8px;
}

.range-block label {
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}

.range-block input {
    width: 100%;
    accent-color: #12c6c8;
}

.result-box {
    height: 120px;
    background: #cfcfcf;

    margin-top: 12px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.result-info p {
    margin: 0;
}

.total {
    font-size: 24px;
    font-weight: 600;
}

.calculate-btn {
    width: 220px;
    height: 55px;

    border: none;
    border-radius: 30px;

    background: #28d62c;
    color: white;

    font-size: 18px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.2s;
}

.calculate-btn:hover {
    transform: translateY(-2px);
}